.card {
    display: flex;
    width: 33.3%;
    min-height:auto;
    gap:0px;
    border-radius: 10px;
    flex:1;
}

.image {
    width: 50%;
    height:inherit;
    overflow: hidden;
}

.image > img {
    width:100%;
    height:100%;
    object-fit: contain;
    border-radius: 10px 0px 0px 10px;
}

.info {
    display:flex;
    flex-direction: column;
    width:50%;
    background-color: #ffffff;
}
